<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../metadata.ejs') %>
  <link rel="stylesheet" href="/static/css/product.css">
  <title>M1337 Designs</title>
</head>
<body>
    <%- include('../header.ejs') %>
    <section id="product">
      <div id="product-images">
        <% if (product.photos) product.photos.forEach((photo, index) => { %>
        <img class="product-image<%= index == 0 ? " active" : "" %>" src="/static<%= photo %>" alt="<%= product.title %>">
        <% }) %>
        <div id="mini-photos-container">
          <% if (product.photos) product.photos.forEach((photo, index) => { %>
            <img class="product-mini-image<%= index == 0 ? " active" : "" %>" src="/static<%= photo %>" alt="<%= product.title %>">
          <% }) %>
        </div>
      </div>
      <div class="vrule"></div>
      <div id="product-info">
        <p id="product-title"><%= product.title %></p>
        <h2 id="product-price"><%- product.price %></h2>
        <button class="styled-button" id="product-buy-button" onclick="buyNow(<%= product.id %>)">Buy Now</button>
        <br>
        <% if (global_state.promo) { %>
          <form action="/product" method="get" id="promo-container">
            <p>Current Promo: <%- promo?.promo_title ?? '<i>None</i>' %></p>
            <input class="styled-text-input" type="text" name="promo" id="promo" placeholder="Enter your promo code">
            <input type="text" name="id" value="<%= product.id %>" hidden>
            <input type="submit" value="" hidden>
          </form>
          <% } %>
          <p id="product-desc"><%- product.pdesc %></p>
      </div>
    </section>
    <script src="/static/js/buynow.js"></script>
    <script src="/static/js/product-showcase.js"></script>
  </body>
</html>