<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../metadata.ejs') %>
  <title>M1337 Designs</title>
</head>
<body>
  <%- include('../header.ejs') %>
  <link rel="stylesheet" href="/static/css/shop.css">
  <section id="products">
  <% products.forEach((product) => { %>
    <a class="product-container" href="/product?id=<%= product.id %>">
      <img class="product-image" src="/static<%= product.photos[0] %>" alt="<%= product.title %>">
      <div class="product-title-container">
        <p class="product-title"><%= product.title %></p>
      </div>
      <p class="product-price">$<%= product.price %></p>
    </a>
  <% }) %>
  <% if (products.length === 0) { %>
    <p id="noitems-text">No items found</p>
  <% } %>
  </section>
</body>
</html>