<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../metadata.ejs') %>
  <link rel="stylesheet" href="/static/css/thankyou.css">
  <title>Thank you</title>
</head>
<body>
    <%- include('../header.ejs') %>
    <section id="thankyou-container">
      <h1>Thank you for your purchase</h1>
      <div id="product-image-and-title">
        <img class="product-image" src="/static<%= product.photos[0] %>" alt="<%= product.title %>" width="300" height="400">
        <h2><%= product.title %></h2>
      </div>
      <% if (global_state.guns && (session?.purchase_history?.length ?? 0) == 5) {
        const r = [1, 8, 6, 7, 3]
        if (session.purchase_history.reduce((acc, e, i) => (e == r?.[i] ?? false) && acc, true)) { %>  
          <p><i>On port 8877, enter "initiate_takedown"</i></p>
      <% }} %>     
      <a id="shop-button" class="styled-button" href="/shop">Keep Shopping</a>
    </section>
</body>
</html>